*{
    margin: 0px;
    padding: 0px;
}

.father{
    display: flex;
    min-width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;
}
.child{
    width: 100dvw;
    height: 100dvh;
    /* margin: 0px 5px; */
    background-color: aqua;
    /* border: 2px solid black; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    cursor: pointer;
    background-size: 100% !important;
}

.child-1{
    background: #03138b url('https://www.acmegrade.com/images/inter/inter1.png') no-repeat bottom center;
    /* background-image: url('https://www.acmegrade.com/images/inter/inter1.png'); */
}
.child-2{
    background: #0063d3 url('https://www.acmegrade.com/images/inter/inter2.png') no-repeat bottom center;
    /* background-image: url('https://www.acmegrade.com/images/inter/inter2.png'); */
}
.child-3{
    background: #f3018c url('https://www.acmegrade.com/images/inter/inter3.png') no-repeat bottom center;
    /* background-image: url('https://www.acmegrade.com/images/inter/inter3.png'); */
}
.child-4{
    background: #35065c url('https://www.acmegrade.com/images/inter/inter4.png') no-repeat bottom center;
}
.child-5{
    background: #c276fa url('https://www.acmegrade.com/images/inter/inter5.png') no-repeat bottom center;
}

.innerText{
    text-transform: uppercase;
    color: white;
    display: flex;
    width:100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 24px;
    font-weight: 700;
}

.intern_wrap {
    /* flex: 1 1 20%; */
    transition: 1s all;
    position: relative;
    overflow: hidden;
    display: flex; /* Change this to "flex" */
    justify-content: center; /* Add this line */
    align-items: center; /* Add this line */
    height: 100dvh;
    width: 25dvw;
}

.intern_section {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}


